

/* FÖRSTA SEKTIONEN */
/* ----------------------------------------------------------------------------- */
.block-header-wrapper {
  background-color: var(--DARK_GREEN);
  position: relative;
}
.block-header {
  position: relative;
  width: 100vw;
  height: 50vh;
  justify-content:flex-start;
  gap: 10px;
  display: grid;
  
  column-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1440px;
  
} 
.grid-box {
  grid-column: span 6;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.grid-box h1 {
  font-family: 'popins', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.grid-box h2 {
  font-family: 'oswald', sans-serif;
  font-size: 1.5rem;
}
.grid-box p {

  font-family: 'oswald', sans-serif;
  font-size: 1.5rem;
}
/* ----------------------------------------------------------------------------- */



/* ANDRA SEKTIONEN */
/* ----------------------------------------------------------------------------- */
.block-content-wrapper {
  position: relative;
  background-color: var(--LIGHT_GREEN);
}
.block-content {
  position: relative;
  width: 100vw;
  height: 50vh;
  justify-content:center;
  gap: 10px;
  
  
  column-gap: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1440px;
}
/* ----------------------------------------------------------------------------- */